# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/android
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env / secrets
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# local verification output
.verify-export/
